@import url("https://fonts.googleapis.com/css?family=KoHo&display=swap");

body {
  font-family: "KoHo", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  background-color: rgb(209, 232, 255);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  margin: 10px;
  padding: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar_button {
  border-style: none;
  background-color: beige;
  height: 30px;
  width: 40px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  margin-left: 20px;
  cursor: grab;
}

.formPopup {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.formContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 500px;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 2px solid black;
}

textarea {
  resize: none;
  width: 200px;
}

.button_container {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 30px;
  border-bottom: 2px solid black;
}

.formClose {
  border-style: none;
  cursor: grab;
  font-size: 10px;
  width: 30px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.closesign {
  width: 80%;
  height: 3px;
  background-color: red;
}

.formContent {
  margin: 10px;
}

.formTop {
  background-color: white;
  height: 100%;
  width: 100%;
}

#taskName {
  font-family: "KoHo", sans-serif;
  width: 100%;
  margin-bottom: 5px;
  height: 20px;
  font-size: 16px;
  font-weight: 700;
}

input[type="text"] {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.formBottom {
  display: grid;
  grid-template-columns: repeat(2, 220px);
}

.btnTag {
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  left: 190px;
  top: 115px;
  border-radius: 10px;
  border-color: black;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  cursor: grab;
}

#tag,
#description {
  border: 2px solid black;
}

.formRight {
  font-size: 18px;
  color: black;
  display: flex;
  flex-direction: column;
}

#btnSubmit {
  border-style: none;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 2px;
  width: fit-content;
  background-color: rgb(29, 221, 61);
}

.content {
  margin: 0px 10px 0px 10px;
  border-radius: 10px;
  height: 100%;
  background-color: azure;
  display: grid;
  grid-template-rows: auto 1fr;
}

.c_top {
  background-color: aqua;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  background-image: linear-gradient(rgb(51, 41, 41), rgb(0, 34, 128));
}

.c_bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.weather {
  width: 20vw;
  max-width: 140px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.weather_icon {
  width: 100%;
  max-width: 140px;
  max-height: 140px;
  margin-left: 5px;
}

.greeting {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: calc(1.5rem + 1vw);
  color: white;
  margin-left: 10px;
  text-shadow: 4px 4px black;
}

.date {
  width: 30vw;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-content: center;
}

.dateText {
  color: white;
  display: flex;
  align-content: center;
  justify-content: right;
  background-color: aqua;
}
.dateShow {
  background-color: white;
}

.cright {
  background-color: blue;
  border-radius: 10px;
  margin: 10px;
}

.cleft {
  width: 40vw;
  background-color: rgb(150, 236, 236);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 550px;
  overflow-y: scroll;
}

.bottom_title {
  font-size: calc(1rem + 0.9vw);
  text-shadow: 1px 1px rgb(112, 112, 112);
  margin: 5px 5px 0px 15px;
}

.project1 {
  width: 90%;
  background-color: rgb(224, 157, 157);
  border-radius: 10px;
  box-shadow: 2px 2px grey;
  margin-left: 10px;
  min-height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project_priority {
  width: 30px;
  background-color: green;
  border-radius: 2px;
  height: 50%;
}

.project_title {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: 20px;
  white-space: nowrap;
  margin-left: 20px;
}

.project_duedate {
  margin-right: 10px;
}

.project_button {
  width: 30px;
  height: 50%;
  margin-right: 10px;
  box-shadow: 2px 2px grey;
  border-radius: 3px;
}

.header,
.footer {
  height: 40px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(9, 133, 248);
  border-radius: 10px;
}

.footer {
  margin: 10px 10px 0px 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 10px;
}
