@import url("https://fonts.googleapis.com/css?family=KoHo&display=swap");

body {
  font-family: "KoHo", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  background-color: rgb(209, 232, 255);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  margin: 10px;
  padding: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar_button {
  border-style: none;
  background-color: beige;
  height: 30px;
  width: 40px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  margin-left: 20px;
  cursor: grab;
}

.content {
  margin: 0px 10px 0px 10px;
  border-radius: 10px;
  height: 100%;
  background-color: azure;
  display: grid;
  grid-template-rows: auto 1fr;
}

.c_top {
  background-color: aqua;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  background-image: linear-gradient(rgb(51, 41, 41), rgb(0, 34, 128));
}

.c_bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
}



.weather {
  width: 20vw;
  max-width: 140px;
  display: flex;
  align-items: center;
  justify-content: left;
  
}
  

.weather_icon{
  width: 100%;
  max-width: 140px;
  max-height: 140px;
  margin-left: 5px;
}



.greeting {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: calc(1.5rem + 1vw);
  color: white;
  margin-left: 10px;
  text-shadow: 4px 4px black;
}

.date {
  width: 30vw;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-content: center;
}

.dateText{
  color: white;
  display: flex;
  align-content: center;
  justify-content: right;
  background-color: aqua;
}
.dateShow{
  background-color: white;
}

.cright {
  background-color: blue;
}

.cleft {
  width: 40vw;
  background-color: rgb(150, 236, 236);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 550px;
  overflow-y:scroll;
}

.bottom_title{
  font-size: calc(1rem + 0.9vw);
  text-shadow: 1px 1px rgb(112, 112, 112);
  margin: 5px 5px 0px 15px;
}

.project1{
  width: 90%;
  background-color: rgb(224, 157, 157);
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  margin-left: 10px;
  min-height: 35px;
}

.header,
.footer {
  height: 40px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(9, 133, 248);
  border-radius: 10px;
}

.footer {
  margin: 10px 10px 0px 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 10px;
}
